body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: #E6E6E6; 
}


li {
list-style: none;   
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
    margin: 0;
    padding: 0;
    
}

header {
    color: #000000;
    min-height: auto;
    border-bottom: none;
}

.background {
    
    
    
}

.main-navigation {
  font-weight: 700;   
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  color: #000000;

  background-color: transparent;
}


.main-navigation .container {
  display: flex;
  height: 60px;
}

.main-header-logo {
    padding-left: 70px;
}


.main-navigation-wrapper .container {
    position: relative;
    height: 110px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    align-items: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

.site-navigation a{
    color: white;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.open {
    background-image: url(img/back-desktop.jpg);
    color: white;
    padding-top: 140px 0;
    height: 800px;
    position:relative;
    bottom: 110px;
    display: flex;
    width: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.open-text {
    padding-top: 660px;
    padding-right: 490px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.open-text h1 {
font-family: Open Sans;
font-size: 50px;
font-weight: 300;
line-height: 68px;
letter-spacing: 0em;
text-align: center;
}

.open-text a {
font-family: Open Sans;
font-size: 21px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: center;

border: 3px solid #FFFFFF;
border-radius: 15px;
padding: 10px 20px;
margin-top: 30px;    
}

.logo {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding: 0px;
}

.logo li {
    padding: 20px 20px; 
}

.open-text p{
    font-family: Open Sans;
font-size: 18px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

    
}

.open-img {
    position: relative;
    height: 645px;
    width: 1050px;
    bottom: 499px;
    left: 170px;
    border-radius: 0px;
}

.advantages {
    height: 1000px;
    background-image: url(img/grey-background.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.advantages h1 {
    font-family: Open Sans;
font-size: 50px;
font-weight: 300;
line-height: 68px;
letter-spacing: 0em;
text-align: center;
padding-top: 30px;   
}

.advantages h2 {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    bottom: 255px;
}

.advantages p {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    bottom: 210px;
}

.advantages ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
}

.advantages li {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.advantages img:nth-child(2n+2) {
    position: relative;
    bottom: 90px;
    z-index: 0;
    box-shadow: 0 -15px 10px -15px rgb(0 0 0 / 25%);
}

.duration {
    height: 430px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.duration img {
    width: 298px;
    height: 345px;    
}

.duration h2 {
font-family: Open Sans;
font-size: 30px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;   
}

.duration p {
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}

.duration a {
    font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #D22856;
text-decoration: underline;
}



.reviews {
    padding-top: 72px;  
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
}
.reviews img {
    margin: 0px;
    margin-bottom: 30px;  
}


.reviews p {
    font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
    margin: 0px;
    margin-bottom: 30px;
}

.reviews h2 {
    font-family: Open Sans;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
margin: 0px;
}

.contacts {
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contacts h2 {
font-family: Open Sans;
font-size: 50px;
font-weight: 300;
line-height: 68px;
letter-spacing: 0em;
text-align: center;  
}

.contacts p {
font-family: Open Sans;
font-size: 18px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
text-align: center;
}

.contacts a {
font-family: Open Sans;
font-size: 24px;
font-weight: 300;
line-height: 33px;
letter-spacing: 0em;
text-align: center;
color: #D22856;
}

.contacts ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    width: 900px;
}

.contacts li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.border-map {
    position: absolute; 
}


.main-footer-wrapper .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacts-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 200px;
}

.html-logo {
        display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 150px;
}

.html-logo p{
    font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #283645;
}


.open-photos {
    height: 394px;
}

.photos-open-text {
        padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.anounce {
    font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
position: relative;
bottom: 50px;
}

.panorama {
    height: 506px;
    
}

.panorama img {
    position: relative;
    
}

.panorama span {
    font-family: Open Sans;
font-size: 12px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

    position: relative;
    left: 930px;
    bottom: 436px;
    z-index: 2;
    margin: 0px;
    padding: 10px 25px;
    background-color: #D22856;
    color: white;
}

.gallery {
    width: 960px;
    margin: 0 auto;
}


.gallery p {
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
margin: 0;
padding: 0;
}

.main-comment {
    background-color: #F2F2F2;
    padding: 30px 0px;
}

.main-comment p{
    background-color: #F2F2F2;    
}

.main-comment ul{
    display: flex;
    background-color: #F2F2F2;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}



.user {
    font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
padding-left: 15px;   
}

.like {
font-family: Open Sans;
font-size: 12px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: right;
color: #D22856;
text-transform: uppercase;
padding-left: 15px;    
}

.post-time {
    font-family: Open Sans;
font-size: 12px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
text-transform: uppercase;    
}

.main-comment .user {
 padding-left: 60px;   
}

.main-comment .like {
padding-right: 60px;}


.gallery-list {
display: flex;   
}

.gallery-list p{
    text-align: left;
    padding-left: 15px;
}

.gallery-list ul{
padding: 0;
margin: 0;  
}

.gallery-list li{
background-color: #F2f2f2;   
}

.gallery-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.gallery-list-item {
    margin-top: 50px;
}

.gallery-list-item {
    display: flex;  
}

.anounce-2 {
    font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
padding: 30px;    
}

.zaliv-object {
    width: 960px;
    margin: 0 auto;
    height: 514px;
    background: #F2F2F2;
} 

.zaliv  {
    padding-bottom: 50px;  
} 

.zaliv-object  img{
    padding:57px 80px; 
}

.slider {
    position: relative;
    top: -185px;
    left: -20px;
}

.post-button {
    color: #D22856;
    position: relative;
    left: 520px;
    bottom: 110px;
    font-family: Open Sans;
font-size: 18px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
border: solid #D22856 3px;
padding: 10px 30px;
    border-radius: 30px;
}

.cancel-button {
    color: #283645;
    position: relative;
    left: 565px;
    bottom: 110px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    border: solid #283645 3px;
    padding: 10px 41px;
    border-radius: 30px;
    opacity: 0.1;
}